.photosection{
    height:100%;
    padding: 50px 50px 0px 50px;
    background: rgba(255, 234, 211, 1);
  
  }
  .ps{
    display: flex;
    justify-content: space-between;
  }
  .sec{
    height: 140px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    background-image: url("../images/event3.jpg");
    background-size: cover;
  }
  