.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 250, 246, 1);
    overflow-x: hidden;
    /* padding: 20px 0px 0px 20px; */
    transition: 0.5s;
  }
  .sidenav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar h2 {
    color: rgb(18, 3, 3);
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .sidebar li {
    padding: 10px;
    color: rgb(22, 7, 7);
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color:#333;
  }