*{
  margin: 0;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
/* .navbar{
  height: 60px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  background: rgba(255, 250, 246, 1);
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  
}
.navlogo{
  height: 50px;
  width: 120px;
  /* padding-right: 20px; 
  background-color: black;
  background-image: url("./images/codeshack.jpg");
  background-size: cover;
}

.navitem{
  padding: 0px 20px;
}
.navitem button{
  padding: 10px;
  background: rgba(255, 250, 246, 1);
  border:1px solid black;
  font-size: 1.3rem;
  border-radius: 20px;
}
.navspan{
  margin: 20px;
  font-size: 1.5rem;
  margin-left: 5px;
  color: black;
  display: block;
  
} */

/* Sidebar.css */

/* .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 250, 246, 1);
  overflow-x: hidden;
  /* padding: 20px 0px 0px 20px; 
  transition: 0.5s;
}
.sidenav{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sidebar.open {
  width: 250px;
}

.sidebar h2 {
  color: rgb(18, 3, 3);
  text-align: center;
}

/* .sidebar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
} 

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar li {
  padding: 10px;
  color: rgb(22, 7, 7);
  cursor: pointer;
}

.sidebar li:hover {
  background-color:#333;
} */
/* .menubutton{
  height: 40px;
  width: 40px;
  margin-right: 40px;
  background-image: url("./images/menu.jpg");
  background-size: cover;
  border: none;
}

.navmenubutton{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-image: url("./images/menu.jpg");
  background-size: cover;
  border: none;
} */

/* .headbar{
  height: 100px;
  padding:80px 0px 0px 20px;
  background: linear-gradient(180deg, rgba(255, 184, 123, 0.59) 0%, rgba(255, 234, 211, 1) 100%);
  border-bottom: 2px solid black;
}
.data{
  display: flex;
}
.headlogo{
  height: 60px;
  width: 60px;
  margin-right: 10px;
  background-color: black;
  border-radius: 50px;
  background-image: url("./images/ncodeshacklogo.jpg");
  background-size: cover;
} */
/* .body{
  height:750px;
  padding: 50px;
  background: rgba(255, 234, 211, 1);

}
.datetime{
  font-size: 1.5rem;
  height: 100px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 50px 10px rgba(144, 63, 11, 0.29) inset;

}
.eventpicture{
  height: 200px;
  width: 250px;
  margin:30px 0px 30px 0px ;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: black;
  background-image: url("./images/inbody.jpg");
  background-size: cover;
} */
/* .pro{
  height: 200px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  
}
.subpro{
  padding: 5px;
  height: 140px;
  min-width: 150px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(140.24deg, #5E1B04 0%, rgba(245, 204, 160, 0.63) 93.36%);
  box-shadow: 4px 4px 0px 1px rgba(255, 210, 184, 0.36);
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.atendphoto{
  height: 60px;
  min-width: 60px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
} */
/* .photosection{
  height:100%;
  padding: 50px 50px 0px 50px;
  background: rgba(255, 234, 211, 1);

}
.ps{
  display: flex;
  justify-content: space-between;
}
.sec{
  height: 140px;
  width: 200px;
  margin: 20px;
  border-radius: 20px;
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  background-image: url("./images/event3.jpg");
  background-size: cover;
} */

/* .showall{
  height: 100%;
  width: 100vw;

}
.see{
  height: 140px;
  width: 200px;
  margin: 20px;
  border-radius: 20px;
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  background-image: url("./images/event3.jpg");
  background-size: cover;
} */

/* .wrapper{
  padding: 10px;
  display: flex;
  display: block;
  height:65vh;
  padding: 50px;
  background: rgba(255, 234, 211, 1);
  justify-content: center;
  align-items: center;
}
.faqheading{
  color: rgba(144, 63, 11, 1);

}
.accordion{
  width: 250px;
  
}
.item{
  height: 100%;
  width: 100%;
  padding:20px;
  background: rgba(255, 161, 79, 0.8);
  margin-bottom: 5px;
  border-radius: 20px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0,1,0,1);
}
.content.show{
  height: auto;
  border-top: 2px solid black;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(0,1,0,1);
} */
/* .foothead{
  height: 70px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foothead span{
  height: 30px;
  width: 60px;
  display: flex;
  border-radius: 20px;
  color: black;
  justify-content: center;
  align-items: center;
  background: rgba(255, 244, 232, 1);
}
.foothead h4{
  color:  rgba(228, 143, 69, 1);
}
.footbody{
  height: 360px;
  background: rgba(255, 250, 246, 1);
}
.logo{
  height:40px;
  width: 100px;
  background-color: black;
  background-image: url("./images/codeshack.jpg");
  background-size: cover;
}
.mail{
  padding: 20px 0px 0px 20px;
}
.link1{
  margin: 20px;
}
.link2{
  margin: 20px;
  
}
.imag{
  display: flex;
  margin: 10px;
}

.link2 a img{
  height: 30px;
  width: 30px;
  margin: 10px;
}
.foottail{
  height: 50px;
  padding-left: 20px;
  background: rgba(88, 32, 1, 1);
  color:  rgba(255, 250, 246, 1);
  display: flex;
  justify-content: start;
  align-items: center;
}
.foottail a{
  color:lightskyblue;
} */